body{

    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile-card {
  width: 500px;
  height: 600px;
 margin: 0 auto;
 background-color: #EFF0F5;
 margin-top: 50px;
 box-shadow: 0px 5px 30px 5px pink;
 border-radius: 10px;
 
}





.profile-photo img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    padding-top: 20px;
}

.profile-info, .profile-short-desc {
    text-align: center;
}

.Contact.information {
    text-align: center;
    margin-top: 50px;
}

.profile-name {
    font-size: 18px;
    font-weight: 500;
    color: #60545b;
    font-family: cursive;
}

.profile-Occupation{
    font-size: 16px;
    font-weight: 500;
    color: #60545b;
    font-family: cursive;
    
}

.profile-short-desc {
    margin-top: 50px;
    font-family: 'circular';
    color: #60545b;
    padding: 0px 30px;
}

button.email-btn, button.call-btn {
    padding: 10px 20px;
    font-size: 18px;
    color: green;
    font-family: cursive;
    font-weight: bold;
}

button.email-btn {    
    background-color: tomato;
    color: white;
    border: 2px solid white;
    border-radius: 100px;
}


button.call-btn {    
    background-color: rgb(255, 71, 151);
    color: white;
    border: 2px solid white;
    border-radius: 100px;
}